@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
	font-size: 12px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: #FAFAFA;
	padding-bottom: 1000px;
}

/*顶部广告*/
#topad{
	width: 100%;
	height: 85px;
	background: #D4B4BF;
	padding-top: 4px;
	position: relative;
}
#topad a{
	display: block;
	width: 980px;
	height: 80px;
	margin: 0 auto;
	background: url(../images/topad.jpg) no-repeat;
}
#topad .close{
	width: 10px;
	height: 10px;
	background: url(../images/bg.png) no-repeat right -2356px;
	position: absolute;
	right: 7px;
	top: 7px;
}
#topad .tab{
	position: absolute;
	top: 67px;
	right: 10px;
}
#topad .tab li{
	width: 10px;
	height: 10px;
	background: #CCCCCC;
	float: left;
	margin-left: 10px;
	border-radius: 50%;
}
#topad .tab li.index{
	background: #FF6699;
}
/*顶部广告结束*/


/*顶部信息区域*/
#info{
	width: 100%;
	height: 28px;
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	background: white;
}
#info .center{
	width: 980px;
	height: 28px;
	/*background: blue;*/
	margin: 0 auto;
	/*border-left: 5px solid purple;*/
	/*border-right: 5px solid purple;*/
}
#info .center .left{
	width: 133px;
	/*border-right: 5px solid orange;*/
	float: left;
	height: 28px;
}
#info .center .left .city{
	line-height: 28px;
	font-weight: 700;
	float: left;
}
#info .center .left .change{
	line-height: 28px;
	color: #73ABC9;
	float: left;
	padding-left: 12px;
}
#info .center .right{
	float: right;
	height: 28px;
	/*border-left: 5px solid green;*/
}
#info .center .right .order{
	display: block;
	width: 68px;
	float: left;
	color: #73ABC9;
	line-height: 28px;
	background: url(../images/bg.png) no-repeat right -1292px;
}
#info .center .right .nm{
	display: block;
	float: left;
	width: 99px;
	height: 28px;
	color: #73ABC9;
	line-height: 28px;
	text-indent: 20px;
	background: url(../images/bg.png) no-repeat right -1320px;
}
#info .center .right .login_reg{
	display: block;
	width: 64px;
	height: 28px;
	float: left;
	color: #73ABC9;
	line-height: 28px;
	text-align: center;
	background: url(../images/bg.png) no-repeat -381px -1292px;

}
/*顶部信息区域结束*/


/*搜索区域*/
#search_out{
	width: 100%;
	height: 101px;
	background: white;
}
#search{
	width: 980px;
	height: 101px;
	margin: 0 auto;
	/*border: 2px solid orange;*/
	border-top: none;
	position: relative;
}
#search .logo{
	display: block;
	width: 320px;
	height: 45px;
	border-right: 1px solid #DFDFDF;
	position: absolute;
	top: 29px;
	left: 0;
	background: url(../images/bg.png) no-repeat -82px -1594px;
}
#search form{
	width: 410px;
	height: 40px;
	/*border-right: 1px solid blue;*/
	position: absolute;
	top: 29px;
	left: 351px;
}
#search form .keyword{
	width: 310px;
	height: 38px;
	border: 1px solid #DFDFDF;
	border-right: none;
	color: #999;
	text-indent: 14px;
	float: left;
	line-height: 38px;
}
#search form .sub{
	width: 99px;
	height: 40px;
	background: url(../images/bg.png) no-repeat right -1655px;
	border: none;
	color: white;
	font-size: 17px;
	font-family: 微软雅黑;
	text-indent: 28px;
	float: left;
}
#search .tags{
	line-height: 22px;
	height: 22px;
	position: absolute;
	top: 76px;
	left: 358px;
}
#search .tags a{
	color: #999;
	float: left;
	padding-right: 15px;
}
#search .back{
	width: 132px;
	height: 40px;
	display: block;
	/*border: 2px solid blue;*/
	position: absolute;
	right: 57px;
	top: 29px;
	background: url(../images/bg.png) no-repeat right -1741px;
}

/*搜索区域结束*/


/*导航区域*/
#menu{
	width: 100%;
	height: 38px;
	background: #FF658E;
	border-top: 1px solid #FE5985;
	border-bottom: 1px solid #FE5985;
}
#menu .center{
	width: 980px;
	height: 38px;
	/*background: blue;*/
	margin: 0 auto;
	border-left: 4px solid green;
	border-right: 4px solid green;
	position: relative;
}
/*左侧竖导航*/
#menu .center .left{
	width: 260px;
	height: 533px;
	background: white;
	position: absolute;
	top: -8px;
	left: 0px;
}
#menu .center .left p.title{
	width: 258px;
	height: 47px;
	background: url(../images/left_menu_bg.jpg) repeat-x;
	border-left: 1px solid #F0F0F0;
	border-right: 2px solid #F0F0F0;
	line-height: 47px;
	color: #363636;
	font-family: 微软雅黑;
	font-size: 17px;
	text-indent: 59px;
}
#menu .center .left .list{
	width: 260px;
	height: 486px;
	box-shadow: 0px 3px 3px #F0F0F0, 3px 0px 3px #F0F0F0;

}
#menu .center .left .list li{
	width: 219px;
	height: 56px;
	border-top: 1px solid #F6F6F6;
	margin: 0 auto;
	position: relative;
}
#menu .center .left .list li .ico{
	width: 20px;
	height: 23px;
	/*border: 1px solid blue;*/
	position: absolute;
	top: 9px;
	left: 5px;
	background: url(../images/bg.png) no-repeat right -2041px;
}
#menu .center .left .list li .ico.moive{
	background-position: right -2064px;
}
#menu .center .left .list li .ico.happy{
	background-position: right -2087px;
}
#menu .center .left .list li .ico.shopping{
	background-position: right -2113px;
}
#menu .center .left .list li a.title{
	line-height: 22px;
	display: block;
	height: 22px;
	position: absolute;
	left: 41px;
	top: 7px;
	font-size: 14px;
	color: #666;
	font-weight: 700;
}
#menu .center .left .list li .tags{
	position: absolute;
	height: 22px;
	line-height: 22px;
	top: 29px;
	left: 40px;
}
#menu .center .left .list li .tags a{
	color: #666;
	float: left;
	padding-right: 11px;
}
#menu .center .left .triangle{
	width: 0;
	height: 0;
	border-bottom: 7px solid #EE3C68;
	border-right: 5px solid transparent;
	position: absolute;
	left: 260px;
	top: 1px;
}
/*左侧竖导航结束*/
#menu .center .nav{
	width: 553px;
	height: 38px;
	/*background: blue;*/
	position: absolute;
	left: 260px;
	top: 0px;
}
#menu .center .nav a{
	float: left;
	height: 38px;
	display: block;
	text-align: center;
	line-height: 38px;
	font-size: 15px;
	color: white;
	font-family: 微软雅黑;
	padding: 0 20px;
}
#menu .center .nav a:hover{
	background: #EE3C68;
}
#menu .center .nav a.index{
	background: #EE3C68;
}
/*导航区域结束*/


/*大区域*/
#main{
	width: 980px;
	height: 485px;
	margin: 0 auto;
	border: 4px solid orange;
	border-top: none;
}

#main .hot{
	width: 710px;
	height: 129px;
	float: right;
}
#main .hot li{
	width: 710px;
	height: 42px;
	border-bottom: 1px solid #F3F3F3;
}
#main .hot li .title{
	line-height: 42px;
	display: block;
	width: 86px;
	height: 42px;
	color: #999;
	text-indent: 11px;
	float: left;
}
#main .hot li a{
	float: left;
	line-height: 42px;
	color: #666;
	padding-right: 21px;
	font-family: Arial,Tahoma,songti,Verdana,STHeiTi,sans-serif;
}
#main .hot li a.cur{
	color: #F69;
}


#main .thisweek{
	width: 701px;
	height: 47px;
	float: right;
	text-indent: 24px;
	line-height: 47px;
	font-size: 17px;
	font-family: 微软雅黑;
	/*border: 1px solid blue;*/
	position: relative;
}
#main .thisweek .star{
	width: 14px;
	height: 15px;
	/*border: 1px solid blue;*/
	position: absolute;
	top: 15px;
	left: 2px;
	background: url(../images/ico.png) no-repeat right 0px;
}
#main .thisweek .tab{
	position: absolute;
	top: 24px;
	right: 12px;
	/*border: 2px solid blue;*/
	text-indent:0;
}
#main .thisweek .tab li{
	float: left;
	width: 10px;
	height: 10px;
	margin-left: 13px;
	background: #CCCCCC;
	border-radius: 50%;
}
#main .thisweek .tab li.cur{
	background: #FF6699;
}
#main .list{
	width: 698px;
	height: 309px;
	float: right;
	/*border: 1px solid blue;*/
	overflow: hidden;
}
#main .list .content{
	width: 800px;
	height: 309px;
	/*background: blue;*/
}
#main .list .content .goods{
	width: 340px;
	height: 309px;
	background: orange;
	float: left;
	margin-right: 18px;
}





/*大区域结束*/