@charset "utf-8";
/* CSS Document */

/*全局reset*/
*{
	padding: 0;
	margin: 0;
	font-size: 12px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}


/*顶部广告图*/
#top_ad{
	width: 100%;
	height: 85px;
	background: #E2D59E;
	padding-top: 4px;
	position: relative;
}
#top_ad .top{
	margin: 0 auto;
	display: block;
	/*margin-top: 4px;*/
}
#top_ad ul{
	position: absolute;
	/*width: 30px;*/
	height: 10px;
	position: absolute;
	right: 10px;
	top: 67px;
	/*border: 1px solid blue;*/
}
#top_ad ul li{
	width: 10px;
	height: 10px;
	background: #ccc;
	float: left;
	border-radius: 50%;
	margin-left: 10px;
	font-size: 0;
}
#top_ad ul li.cur{
	background: #FF6699;
}
#top_ad .close{
	width: 10px;
	height: 10px;
	position: absolute;
	top: 7px;
	right: 7px;
	background: url(../images/bg.png) no-repeat right -2356px;
	font-size: 0;
}
/*顶部广告图结束*/

/*顶部信息*/
#top_info{
	width: 100%;
	height: 28px;
	/*background: red;*/
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
}
#top_info .center{
	width: 980px;
	height: 28px;
	margin: 0 auto;
	/*background: blue;*/
	/*border-left: 2px solid blue;*/
	/*border-right: 2px solid blue;*/
}
#top_info .left{
	width: 150px;
	height: 28px;
	float: left;
	/*background: red;*/
	/*border-right: 3px solid green;*/
}
#top_info .left .city{
	font-weight: 700;
	line-height: 28px;
	float: left;
	padding-right: 10px;
}
#top_info .left .change{
	color: #73ABC9;
	line-height: 28px;
	float: left;
}
#top_info .left .change:hover{
	text-decoration: underline;
}
#top_info .right{
	height: 28px;
	/*border-left: 4px solid orange;*/
	float: right;
}
#top_info .right .my_order{
	float: left;
	display: block;
	width: 68px;
	height: 28px;
	line-height: 28px;
	color: #73ABC9;
	background: url(../images/bg.png) no-repeat right -1292px;
}
#top_info .right .my_nuomi{
	width: 100px;
	height: 28px;
	display: block;
	background: url(../images/bg.png) no-repeat right -1292px;
	float: left;
	color: #73ABC9;
	line-height: 28px;
	text-indent: 20px;
	position: relative;
}
#top_info .right .my_nuomi span{
	display: block;
	width: 0px;
	height: 0px;
	border: 4px solid white;
	border-top: 4px solid #666666;
	position: absolute;
	top: 12px;
	left: 74px;
}

#top_info .right .login{
	 display: block;
	 float: left;
	 width: 64px;
	 height: 28px;
	background: url(../images/bg.png) no-repeat right -1292px;
	color: #73ABC9;
	line-height: 28px;
	text-align: center;
}
#top_info .right .reg{
	 display: block;
	 float: left;
	 width: 64px;
	 height: 28px;
	color: #73ABC9;
	line-height: 28px;
	text-align: center;
}
/*顶部信息结束*/


/*搜索区域*/
#search{
	width: 980px;
	height: 101px;
	margin: 0 auto;
	border-top: none;
	position: relative;
}
#search .logo{
	width: 320px;
	height: 45px;
	border-right: 1px solid #DFDFDF;
	display: block;
	position: absolute;
	top: 28px;
	left: 0px;
	float: left;
	background: url(../images/bg.png) no-repeat -82px -1595px;
}
#search form{
	width: 410px;
	height: 40px;
	position: absolute;
	top: 29px;
	left: 351px;
	border: 1px solid red;
}
#search form .keyword{
	width: 310px;
	height: 38px;
	border: 1px solid #DFDFDF;
	border-right: none;
	color: #999;
	text-indent: 14px;
	float: left;
	line-height: 38px;
}
#search form .sub{
	width: 99px;
	height: 40px;
	background: url(../images/bg.png) no-repeat right -1655px;
	border: 0;
	float: left;
	font-size: 17px;
	font-family: 微软雅黑;
	color: white;
	text-indent: 25px;
}
#search .tags{
	position: absolute;
	top: 75px;
	left: 358px;
	height: 20px;
	width: 320px;
}
#search .tags a{
	line-height: 20px;
	color: #999;
	float: left;
	padding-right: 15px;
}
#search .back{
	width: 132px;
	height: 40px;
	display: block;
	position: absolute;
	right: 54px;
	top: 29px;
	background: url(../images/bg.png) no-repeat right -1741px;
}

/*搜索区域结束*/


/*导航*/
#menu{
	width: 100%;
	height: 38px;
	border-top: 1px solid  #FE5985;
	border-bottom: 1px solid  #FE5985;
	background: #FF658E;
}
#menu .center{
	width: 980px;
	height: 38px;
	/*background: blue;*/
	margin: 0 auto;
	position: relative;
}
#menu .center .left{
	width: 258px;
	height: 47px;
	background: url(../images/menu_bg.jpg) repeat-x;
	position: absolute;
	top: -8px;
	left: 0px;
	font-size: 16px;
	color: #363636;
	line-height: 47px;
	font-family: 微软雅黑;
	text-indent: 59px;
}
#menu .center .left span{
	width: 0px;
	height: 0px;
	display: block;
	border: 6px dashed transparent;
	border-left: 6px solid #EE3C68;
	position: absolute;
	top: 0;
	left: 258px;
	font-size: 0;
	overflow: hidden;
}
#menu .center .nav{
	position: absolute;
	top: 0;
	left: 259px;
	height: 38px;
}
#menu .center .nav a{
	display: block;
	float: left;
	height: 38px;
	line-height: 38px;
	font-family: 微软雅黑;
	font-size: 15px;
	color: white;
	padding: 0px 25px;
	position: relative;
}
#menu .center .nav a.cur{
	background: #EE3968;
}
#menu .center .nav a:hover{
	background: #EE3968;
}
#menu .center .nav a span{
	display: block;
	width: 26px;
	height: 18px;
	background: red;
	position: absolute;
	right: 5px;
	top: -4px;
	background: url(../images/bg.png) no-repeat right -2228px;
}
/*导航结束*/