@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
/*顶部左侧*/
#top{
	width: 100%;
	height: 31px;
	margin: 0px auto;
	background-color: #F7F7F7;
}
#top .head_top{
	width: 1210px;
	height: 31px;
	margin: 0px auto;
	position: relative;
}
#top .head_top .collect{
	float: left;
	width: 79px;
	height: 31px;	
}
#top .head_top .collect img{
	width: 12px;
	height: 12px;
	margin-top: 10px;
	margin-right: 5px;
	float: left;
}
#top .head_top .collect a{
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #666;
	padding-right:5px; 
	text-decoration: none;
	line-height: 31px;
}
#top .head_top .collect a:hover{
	color: #e4393c;
	text-decoration: underline;
}
#top .head_top .pic{
	width: 12px;
	height: 17px;
	margin-top: 10px;
	background: url(../images/17.png) no-repeat -4px -5px;
	float: left;
}
#top .head_top .area span{
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	font-weight: 700;
	color: #666;
	padding-left: 13px;
	text-decoration: none;
	line-height: 31px;
}
#top .head_top .area a{
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #666;
	text-decoration: none;
}
#top .head_top .area a:hover{
	color: #e4393c;
	text-decoration: underline;
}
#top .head_top .area{
	float: left;
}
/*顶部左侧结束*/
/*顶部右侧*/
#top .head_top .right{
	float: right;
}
#top .head_top .right span{
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #666;
	float: left;
	text-decoration: none;
	line-height: 31px;
}

#top .head_top .right span a{
	color: #666;
	text-decoration: none;
	padding: 0px 6px;
}
#top .head_top .right a:hover{
	color: #e4393c;
	text-decoration: underline;
}
#top .head_top .right span.link{
	padding-left: 0px;
	padding-right: 0px;
}
#top .head_top .right img{
	width: 24px;
	height: 11px;
	padding-left:5px; 
	float: left;
	position: relative;
	left: 0px;
	top: 10px;
}
#top .head_top .right .mobile{
	width: 13px;
	height: 22px;
	background: url(../images/bg.png) no-repeat -128px -360px ;
	float: right;
	position: absolute;
	left: 998px;
	top: 7px;
}
#top .head_top .right span.p{
	padding-left: 25px;
}
/*顶部右侧结束*/
/*中间广告区域*/
#adverst{
	width: 1210px;
	height: 70px;
	margin: 0px auto;
	margin-top: 2px;

}
/*广告区域结束*/
/*搜索区域*/
#search{
	width: 1210px;
	height: 90px;
	margin: 0px auto;
	position: relative;
}
#search .rtop{
	width: 160px;
	height: 60px;
	margin-top:20px;
	background: url(../images/logo-201305.png) no-repeat 0px 0px ;
	float: left;
}
#search .ctop{
	width: 100px;
	height: 70px;
	margin-top: 10px;
	margin-left: 29px;
	background: url(../images/693.gif) no-repeat;
	float: left;
}
#search .r_top{
	width: 500px;
	height: 90px;
	padding-left: 69px; 
	float: left;

}
#search .r_top form{
	width: 495px;
	height: 30px;
	border: 3px solid #e4393c;
	float: left;
	margin-top: 27px;
}
#search .r_top form input{
	width: 416px;
	height: 30px;
	border: 0px; 
	float: left;
	text-indent: 2px;
	font-family:arial,​宋体;
	font-size: 14px;
	line-height: 30px;
	color: #999;
}
#search .r_top form input.sub{
	width: 78px;
	height: 30px;
	border: 0px;
	font-family: 宋体;
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;
	text-align: center;
	color: #fff;
	background-color:#e4393c; 
	float: right;
	outline: none;

}

#search .r_top span{
	float: left;
	color: #999999;
	font-size: 12px;
	font-family:Arial,​Verdana,​宋体;
	line-height: 18px;
	margin-top: 4px;
	float: left;
}
#search .r_top span a.one{
	color: #ff0000;
}

#search .r_top span a{
	color: #999;
	padding-left: 5px;
	text-decoration: none;
}
#search .r_top span a:hover{
	color: #e4393c;
	text-decoration: underline;
}
#search .right{
	width: 104px;
	height: 30px;
	position: absolute;
	left: 965px;
	top: 29px;
	float: right;
	background-color: #f7f7f7;
	border: 1px solid #efefef;
}
#search .right .pic{
	width: 18px;
	height: 18px;
	background: url(../images/bg.png) no-repeat -121px -30px;
	position: absolute;
	left: 9px;
	top: 7px;
}
#search .right span{
	font-size: 12px;
	font-family:Arial,​Verdana,​宋体;
	color: #666;
	line-height: 30px;
	text-align: center;
	position: absolute;
	left: 31px;
	top:0px;
}
#search .shop{
	width: 124px;
	height: 30px;
	position: absolute;
	right: 0px;
	top: 29px;
	background-color: #f7f7f7;
	border: 1px solid #efefef;
}
#search .shop .pic{
	width: 20px;
	height: 17px;
	background: url(../images/bg.png) no-repeat -121px -91px;
	position: absolute;
	left: 6px;
	top: 8px;
}
#search .shop span{
	font-size: 12px;
	font-family:Arial,​Verdana,​宋体;
	color: #666;
	line-height: 30px;
	text-align: center;
	position: absolute;
	left: 31px;
	top:0px;
}
/*搜索区域结束*/
/*导航区域*/
#nav{
	width: 1210px;
	height: 40px;
	background-color: #e4393c;
	margin: 0px auto;
	margin-top: 8px;
}
#nav .left{
	width: 210px;
	height: 40px;
	float: left;
}
#nav .left span a{
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	line-height: 40px;
	padding-left: 20px;
}
#nav .left span a:hover{
	text-decoration: underline;
}
#nav .center{
	width: 595px;
	height: 40px;
	float: left;
}
#nav .center ul li{
	list-style: none;
	float: left;
}
#nav .center ul li a{
	display: block;
	width: 85px;
	height: 40px;
	font-size: 15px;
	font-family: 微软雅黑;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
}
#nav .center ul li a:hover{
	background-color: #A40000;
}
#nav .center ul li a.index{
	background-color: #A40000
}
#nav .right{
	width: 139px;
	height:40px;
	background: url(../images/905.jpg) no-repeat;
	float: right;
}
/*导航区域结束*/
/*中央大区域*/
/*左侧*/
#center{
	width: 1210px;
	height: 410px;
	margin: 0px auto;
	overflow: hidden;
}

#center .left{
	width: 206px;
	height: 408px;
	float: left;
	border: 2px solid #E4393C;
	border-top: 0px;
}
#center .left ul{
	position: relative;
}
#center .left ul li .hidebox{

	position: absolute;
	display: none;
	left: 206px;
	top: 0px;
	z-index:5;
}

#center .left h3{
	width: 206px;
	height: 28px;
	margin-top: 1px;
	background-color: #fafafa;
	font-weight: 400;
	position: relative;
}
#center .left h3.cur{
	background: #fff;
}
#center .left h3 p{
	float: left;
	width: 7px;
	height: 10px;
	background: url(../images/bg.png) no-repeat -110px -45px;
	position: absolute;
	left: 195px;
	top: 10px;

}
#center .left h3 a{
	font-family:Arial,​Verdana,​宋体;
	font-size: 14px;
	color: #333;
	line-height: 28px;
	text-decoration: none;
	font-weight: 400;
}
#center .left h3 a.one{
	padding-left: 11px;
}
#center .left h3 a:hover{
	color: #e4393c;
	text-decoration: underline;
	font-weight: 700;
}
/*左侧结束*/
/*中间部分*/
#center .center{
	width: 670px;
	height: 399px;
	float: left;
	margin-left: 10px;
	margin-top:8px; 
	position:relative;
	overflow: hidden;
}

/*中间轮播图*/

#center #lunbo{
	width: 670px;
	height: 240px;
	position: relative;
}
#center #lunbo img{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#center #lunbo ul{
	position: absolute;
	top: 211px;
	left: 500px;
	list-style: none;
}
#center #lunbo ul li{
	float: left;
	width: 22px;
	height: 22px;
	background: #999999;
	text-align: center;
	line-height: 22px;
	font-size: 12px;
	font-family: arial;
	color: white;
	list-style: none;
	margin-left: 5px;
	border-radius: 11px;
}
/*中间轮播图结束*/
/*修改区*/
/*下面轮播图*/
	#me_nu{
		width: 670px;
		height: 157px;
		border: 1px solid #EEEEEE;
		position: absolute;
		left: 0px;
		top: 240px;
		overflow: hidden;
	}
	/*轮播左侧*/
	#me_nu #le_ft{
		width: 33px;
		/*background-color: #f00;*/
		height: 157px;
		position: absolute;
		left: 0px;
		top: 0px;
	}
	#me_nu #le_ft #o_ne{
		width: 17px;
		height: 25px;
		position: absolute;
		left: 8px;
		top: 69px;
		background: url(../images/image/20130330B_1.png) no-repeat -89px -48px ;
	}
	#me_nu #le_ft #t_wo{
		width: 17px;
		height: 25px;
		display: none;
		position: absolute;
		left: 10px;
		top: 71px;
		background: url(../images/image/15.png) no-repeat -6px -5px ;
	}
	/*轮播右侧*/
	#me_nu #ri_ght{
		width: 33px;
		/*background-color: #f00;*/
		height: 157px;
		position: absolute;
		left: 637px;
		top: 0px;
	}
	#me_nu #ri_ght #th_ree{
		width: 17px;
		height: 25px;
		position: absolute;
		right: 8px;
		top: 69px;
		background: url(../images/image/20130330B_1.png) no-repeat -59px -48px ;
	}
	#me_nu #ri_ght #th_ird{
		width: 17px;
		height: 25px;
		display: none;
		position: absolute;
		right: 6px;
		top: 71px;
		background: url(../images/image/15.png) no-repeat -6px -42px ;
	}
	/*右侧结束*/
	/*轮播中间*/
	#me_nu #h_id{
		width: 606px;
		height: 157px;
		overflow: hidden;
		position: absolute;
		/*border: 1px solid red;*/
		left: 33px;
		top: 0px;
	}
	#me_nu #cen_ter{
		width: 3780px;
		height: 149px;
		position: absolute;
		left: 0px;
		top: 0px;
		/*border: 1px solid green;*/
	}
	#me_nu #cen_ter img{
		float: left;
	}
	#me_nu #cen_ter #biankuang{
		float: left;
		width: 202px;
		height: 149px;
		/*padding:0px 11px;*/
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}
	/*中间结束*/




/*下面轮播图结束*/
/*修改区结束*/
/*中间部分结束*/
/*右侧部分*/
#center .right{
	width: 308px;
	height: 400px;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	position: relative;
}
/*右侧上部*/
#center .right .top{
	width: 308px;
	height: 70px;
	overflow: hidden;
	float: left;
	background: url(../images/660.jpg) no-repeat;
}
/*右侧上部结束*/
/*右侧中间*/
#center .right .center{
	margin-left: 0px;
	width: 308px;
	height: 132px;
	float: left;
	margin-top: 15px;
}
#center .right .center .title{
	width: 308px;
	height: 23px;

}
#center .right .center .paper{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #666;
	line-height: 23px;
	float: left;
	font-weight: 700;
}
#center .right .center span a{
	font-family:Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #005ea7;
	text-decoration: none;
	line-height: 23px;
	padding-right: 5px;
	float: right;
}
#center .right .center .left1{
	width: 153px;
	height: 106px;
	border:1px solid #f1f1f1;
	border-top:2px solid #aaa; 
	float: left; 
}
#center .right .center a{
	display: block;
	padding-left: 9px;
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #666;
	line-height: 25px;
	text-decoration: none;
}
#center .right .center a:hover{
	color: #E4393C;
}
#center .right .center .one{
	margin: 0px;
	width: 146px;
	height: 106px;
	float: left;
	border:1px solid #f1f1f1;
	border-top:2px solid #aaa;
}
/*右侧中间结束*/
/*右侧下面*/


#center .right .zongdiv{
		width: 300px;
		height: 175px;
		border: 1px solid #F1F1F1;
		position: absolute;
		left: 0px;
		top: 222px;
	}
	.zongdiv .shangmianul{
		width: 300px;
		height: 29px;
		border-bottom: 2px solid #aaa;
	}
	.zongdiv .shangmianul ul li{
		display: block;
		width: 75px;
		height: 29px;
		list-style: none;
		float: left;
		font-size: 14px;
		text-align: center;
	}
	.zongdiv .shangmianul ul li a{
		font-size: 14px;
		font-family: 微软雅黑;
		font-weight: 700;
		color: #666666;
		line-height: 29px;
	}
	.zongdiv .f1{
		width: 3060;
		height: 135px;
		/*border: 1px solid green;*/
		padding-top: 10px;
		display: none;
	}
	.zongdiv .f1 p{
		font-family:arial,verdana,宋体;
		padding-left: 10px;
		font-size: 12px;
		color: #666;
		line-height: 22px;
	}
	.zongdiv .f1 .p2{
		position: relative;
		left: 45px;
		top: 0px;
	}
	.zongdiv .f1 p input{
		color: #999;
		width: 113px;
		height: 16px;
	}
	.zongdiv .f1 p.p3{
		position: relative;
		left: 10px;
		top: 0px;
	}
	.zongdiv .f1 p.p3 select{
		width: 58px;
		height: 22px;
	}
	.zongdiv .f1 p.p3 span{
	font-family:arial,verdana,宋体;
	font-size: 12px;
	color: #c30;
	line-height: 22px;
	font-weight: 700;
	padding-left: 5px;
	}
	.zongdiv .p4{
		position: relative;
		left: 10px;
		top: 5px;
	}
	.zongdiv .p4 span a{
		color: #005EA7;
		font-size: 13px;
		text-decoration: none;
	}
	.zongdiv .p4 span a:hover{
		text-decoration: underline;
	}
	.zongdiv .p4 input{
		width: 71px;
		height: 21px;
		background: #E4393C;
		border-radius: 8%;
		border: none;
		color: #fff;
	}
		.zongdiv .f1 .p4 input{
		width: 71px;
		height: 21px;
		background: #E4393C;
		border-radius: 8%;
		border: none;
		color: #fff;
	}
	.zongdiv .f2{
		width: 300px;
		height: 135px;
		/*border: 1px solid green;*/
		padding-top: 10px;
		display: none;
	}
	.zongdiv .f2 ul{
		/*border: 1px solid red;*/
		width: 177px;
		height: 18px;
	}
	.zongdiv .f2 ul li{
		margin-top: 3px;
		display: block;
		width: 43px;
		height: 12px;
		list-style: none;
		float: left;
		border-right:1px solid #333; 
		text-align: center;
		line-height: 12px;
	}
	.zongdiv .f2 ul li a{
		font-size: 12px;
		color:#015EAB;
		text-decoration: none;
	}
	.zongdiv .f2 ul li a:hover{
		color: #E3393C; 
	}
	.zongdiv .f2 .p1{
		font-family:arial,verdana,宋体;
		margin-top: 8px;
		padding-left: 10px;
		font-size: 12px;
		color: #666;
		line-height: 22px;
	}
	.zongdiv .f2 .p1 select{
		width: 80px;
		height: 19px;
	}
	.zongdiv .f2 .p2{
		font-family:arial,verdana,宋体;
		margin-top: 8px;
		padding-left: 10px;
		font-size: 12px;
		color: #666;
		line-height: 22px;
	}
	.zongdiv .f2 .p2 select{
		width: 55px;
		height: 19px;
	}
	.zongdiv .f3{
		display: none;
	}
	.zongdiv .f4 ul{
		width: 170px;
		height: 20px;
		margin-left:10px; 
	}
	.zongdiv .f4 ul li{
		margin-top: 3px;
		display: block;
		width: 50px;
		height: 12px;
		list-style: none;
		float: left;
		border-right:1px solid #333; 
		text-align: center;
		line-height: 12px;
	}
	.zongdiv .f4 ul li a{
		font-size: 12px;
		color:#015EAB;
		text-decoration: none;
	}
	.zongdiv .f4 ul li a:hover{
		color: #E4393C;
	}
	.zongdiv .f4 div{
		width: 298px;
		height: 107px;
	}
	.zongdiv .f4 .p1{
		font-family:arial,verdana,宋体;
		margin-top: 8px;
		padding-left: 10px;
		font-size: 12px;
		color: #666;
		line-height: 22px;
	}
	.zongdiv .f4 .p1 a{
		font-size: 12px;
		color:#015EAB;
		text-decoration: none;
	}
	.zongdiv .f4 .p2 span{
		font-size: 12px;
		color:#E4393C;
		font-weight: 700;
	}
	.zongdiv .f4 .p1{
		font-size: 12px;
		color:#015EAB;
		text-decoration: none;
	}
	.zongdiv .f4 .p1 select{
		width: 133px;
		height: 21px;
	}
	.zongdiv .f4 .p3{
		width: 151px;
		height: 18px;
		color: #333;
	}
	.zongdiv .f4 .p3 span{
		padding-left: 10px;
		line-height: 18px;
	}
	.zongdiv .xiaohuakuai{
		width: 76px;
		height: 5px;
		overflow: hidden;
		position: absolute;
		left: 0px;
		top: 27px;
		z-index: 3;
	}
	.zongdiv .xiaohuakuai img{
		position: absolute;
		left: 0px;
		top: 0px;
	}



	
/*右侧下面结束*/
/*右侧结束*/
/*中央大区域结束*/

/*展示区域*/
#show{
	width: 1212px;
	height: 520px;
	overflow: hidden;
	margin: 0px auto;
/*	border: 1px solid blue;*/
}
#show .life{
	margin:10px 0px;
	width: 1210px;
	height: 24px;
	float: left;
/*	border: 1px solid red;*/
}
#show .pic{
	width: 1212px;
	height: 396px;
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
	/*border: 1px solid green;*/
}
#show .pic div.fudong{
	height: 190px;
	width: 292px;
	float: left;
	overflow: hidden;
	margin-right: 10px;
	margin-top: 5px;
	overflow: hidden;
	position: relative;
}
#show .pic div.fudong img{
	position: absolute;
	left: 0px;
	top: 0px;
}
#show .pic div.fudong .touming{
	height: 190px;
	width: 120px;
	background: #fff;
	opacity: 0.5;
	filter:alpha(opacity:50);
	position: absolute;
	left: 0px;
	top:0px;
	z-index: 3;
}
/*文字处理*/
#show .pic div.fudong .wenzi{
	z-index: 3;
	position: absolute;
	left: 18px;
	top: 30px;
}
#show .pic div.fudong .wenzi h3{
	font-size: 12px/150%;
	color: #333333;
	font-family:微软雅黑,Arial,​Verdana,​宋体;
}
#show .pic div.fudong .wenzi div.one{
	font-size: 12px;
	color: #666;
	vertical-align: middle;
	line-height: 18px;
	margin-top: 4px;
	font-family:微软雅黑,Arial,​Verdana,​宋体;
}
#show .pic div.fudong .wenzi div.two{
	font-size: 12px;
	color: #e4393c;
	vertical-align: middle;
	line-height: 18px;
	font-family:微软雅黑,Arial,​Verdana,​宋体;
}
#show .pic div.fudong .wenzi ul{
	position: absolute;
	left: 0px;
	top: 84px;
}
#show .pic div.fudong .wenzi ul li{
	font-size: 11px;
	list-style: none;
	color: #666;
	vertical-align: middle;
	line-height: 18px;
	font-family:微软雅黑,Arial,​Verdana,​宋体;
}
/*第一个结束*/
#show .pic div.fudong .wenzi div.three{
	font-size: 12px;
	color: #fff;
	vertical-align: middle;
	line-height: 18px;
	font-family:微软雅黑,Arial,​Verdana,​宋体;
	width: 55px;
	height: 18px;
	margin-top: 5px;
	text-align: center;
	background: #e4393c;
}
/*第二个结束*/
#show .pic div.fudong .wenzi ul li.fore{
	width: 95px;
	list-style: none;
	font-size: 13px;

}
/*第三个结束*/
#show .pic div.fudong .wenzi .five{
	position: absolute;
	left: 0px;
	top: 70px;
	font-size: 13px;
	color: #999;
	width: 90px;
	height: 25px;
}
#show .pic div.fudong .wenzi .five span{
	font-size: 22px;
	color: #e4393c;

	font-family: 微软雅黑,Arial,​Verdana,​宋体;
}
#show .pic div.fudong .wenzi .six{
	width: 74px;
	height: 31px;
	position: absolute;
	left: 0px;
	top: 103px;
	background: url(../images/613.jpg) no-repeat 0px 0px;
}
/*第四个结束*/
#show .pic div.fudong .wenzi div.seven{
	width: 79px;
	margin-top: 7px;
}
/*文字处理结束*/

#show .bpic{
	height: 70px;
	width: 1210px;
	float: left;
}
#show .bpic img{
	height: 70px;
	width: 396px;
}
/*展示区域结束*/
/*楼层区域*/
/*1F*/
.one_f{
	width: 1212px;
	height: 418px;
	margin: 0px auto;
	position: relative;
}
.one_f .onef_title{
	width: 1212px;
	height: 50px;
	border: 1px solid #fff;
	position: relative;
}
.one_f .onef_title .homecell{
	width: 211px;
	height: 50px;
	overflow: hidden;
	float: left;
}
.one_f .onef_title .offer{
	padding-top: 9px;
	width: 790px;
	height: 43px;
/*	border: 1px solid blue;*/
	float: left;
	position: absolute;
	left: 260px;
	top: 0px;
}
.one_f .onef_title .offer ul li{
	width: 158px;
	height: 50px;
	float: left;
	list-style-type: none;
}
.one_f .onef_title .offer ul li a{
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: 700;
	color: #666;
	line-height: 50px;
	float: left;
	text-decoration: none;
}
.one_f .onef_title .offer ul li a:hover{
	color: #e4393c;
}
.one_f .onef_title .explain{
	padding-top:15px; 
	position: relative;
	width: 209px;
	height: 35px;
	float: right;
}
.one_f .onef_title .explain a{
	line-height: 45px;
	padding-left: 20px;
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	font-weight: 400;
	color: #005ea7;
	text-decoration: none;	
}
.one_f .onef_title .explain a:hover{
	text-decoration:underline;
}
.one_f .onef_title .explain p{
	width: 8px;
	height: 13px;
	background: url(../images/bg.png) no-repeat -112px -45px;

}
.one_f .onef_title .explain .p1{
	position:absolute;
	left: 85px;
	top: 35px;
}
.one_f .onef_title .explain .p2{
	position:absolute;
	left: 185px;
	top: 35px;
}
.one_f .shubiao{
	width: 158px;
	height: 6px;
	position: absolute;
	left: 210px;
	top: 38px;
}
/*顶部结束*/
/*左侧*/
.one_f .table{
	width: 210px;
	height: 359px;
	margin-top: 0px;
	border: 1px solid #DEDEDE;
	border-left: 0px;
	overflow: hidden;
	border-top: 2px solid #DEDEDE;
	float: left;
}
.one_f .table .lt{
	width: 102px;
	height: 207px;
	float: left;
}
.one_f .table a{
	display: block;
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #666;
	text-decoration: none;
	line-height: 25px;
}
.one_f .table .rt{
	width: 102px;
	height: 205px;
	float: left;
}
.one_f .table .bp{
	height: 155px;
	width: 210px;
}
/*左侧结束*/
/*中间*/
/*第一个*/
.one_f .zhongjian1{
	width: 785px;
	height: 362px;
	float: left;
	margin-right: 0px;
	padding-right: 0px;
}
.one_f .zhongjian1 .picture{
	border: 1px solid #F1F1F1;
	width: 156px;
	height: 179px;
	border-left: 0px;
	padding-right: 0px;
	float: left;
	position: relative;
}
.one_f .zhongjian1 .picture img{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0px auto;	
}
.one_f .zhongjian1 .picture p{
	width: 134px;
	margin: 0px auto;
}
.one_f .zhongjian1 .picture p a{
	margin: 0px auto;
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #666;
	text-decoration: none;
	line-height: 18px;
}
.one_f .zhongjian1 .picture span{
	font-family:​Verdana;
	font-size: 12px;
	color: #e4393c;
	text-decoration: none;
	line-height: 18px;
	position: absolute;
	left: 10px;
	top:145px;
	}
/*第一个结束*/
/*三楼的浮动效果*/
.one_f .sanlou{
		width: 785px;
		height: 361px;
		background: #000;
		opacity: 1;
		filter:alpha(opacity=100);
		float: left;
	}
.one_f .sanlou div.limian{
		width: 157px;
		height: 361px;
		overflow: hidden;
		float: left;
		position:relative;
	}
.one_f .sanlou div.limian .alimian{
		width: 158px;
		height: 361px;
		position: absolute;
		left: 0px;
		top: 181px;
	}
.one_f .sanlou div.limian img{
		float: left;
		position:absolute;
		left: 0px;
		top: 0px;

	}
/*三楼的浮动效果结束*/
.one_f .zhongjian2{
	width: 785px;
	height: 362px;
	float: left;
	margin-right: 0px;
	padding-right: 0px;
	display: none;
}
.one_f .zhongjian2 .picture{
	border: 1px solid #F1F1F1;
	width: 156px;
	height: 179px;
	border-left: 0px;
	padding-right: 0px;
	float: left;
	position: relative;
}
.one_f .zhongjian2 .picture img{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0px auto;	
}
.one_f .zhongjian2 .picture p{
	width: 134px;
	margin: 0px auto;
}
.one_f .zhongjian2 .picture p a{
	margin: 0px auto;
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #666;
	text-decoration: none;
	line-height: 18px;
}
.one_f .zhongjian2 .picture span{
	font-family:​Verdana;
	font-size: 12px;
	color: #e4393c;
	text-decoration: none;
	line-height: 18px;
	position: absolute;
	left: 10px;
	top:145px;
	}
/*修改区*/
/*小轮播图*/
.one_f .zhongjian1 .big_pic{
	border-top: 2px solid #F1F1F1;
	width: 471px;
	height: 179px;
	float: left;
	overflow: hidden;
	border-left: 0px;
	border-right: 0px;
	position: relative;
}
.one_f .zhongjian1 .big_pic .xiaolb{
	width: 1884px;
	height: 179px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
}
.one_f .zhongjian1 .big_pic .xiaolb img{
	float: left;
	width: 471px;
	height: 179px;
}
.one_f .zhongjian1 .big_pic .xiaobiao{
	width: 152px;
	height: 6px;
	position: absolute;
	left: 162px;
	top: 169px;
}
.one_f .zhongjian1 .big_pic .xiaobiao span{
	display: block;
	width: 35px;
	height: 6px;
	margin-right: 3px;
	background: #999;
	float: left;
}
/*小轮播图结束*/
/*右边*/
.one_f .right_pic{
	width: 213px;
	height: 360px;
	overflow: hidden;
	float: left;
	position: relative;
	border-top: 2px solid #f1f1f1;
 
}
.one_f .right_pic .you_lb{
	width: 426px;
	height: 180px;
	position: absolute;
	left: 0px;
	top: 180px;
}
.one_f .right_pic .you_lb img{
	float: left;
}
.one_f .right_pic .you_xb{
	width: 76px;
	height: 6px;
	position: absolute;
	left: 67px;
	top: 349px;
}
.one_f .right_pic .you_xb span{
	display: block;
	width: 35px;
	height: 6px;
	margin-right: 3px;
	background: #999;
	float: left;
}
.one_f .right_pic img{
	width: 213px;
	height: 180px;
	float: left;
}
/*右边*/
/*楼层结束*/
/*底部晒单*/
#list{
	height: 192px;
	width: 1212px;
	margin: 0px auto;
	position: relative;
	/*border: 1px solid green;*/
}
/*晒单*/
	#list .dibu{
		width: 880px;
		height: 170px;
		border: 1px solid #999;
	}
	#list .spwenzi{
		font-family: 微软雅黑;
		font-size: 14px;
		font-weight: 700;
		color: #666;
		line-height: 29px;
	}
	#list .dibu div.shaidan{
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 4;
	}
	#list div.huodong{
		position: absolute;
		left: 445px;
		top: 0px;
		z-index: 5;
	}
	#list .limian{
		width: 420px;
		height: 156px;
		margin-top: 15px;
		border-right: 1px solid #999;
		overflow: hidden;
	}
	#list .dibu .youmian{
		width: 445px;
		height: 156px;
		overflow: hidden;
		position: absolute;
		left: 445px;
		top: 40px;
	}
	#list .dibu .youmian ul{
		width: 445px;
		height: 156px;
	}
	#list .dibu .youmian ul li{
		width: 445px;
		height: 79px;
		/*border-bottom: 1px dotted #666;*/
		position: relative;
		}
	#list .dibu .limian ul{
		width: 420px;
		height: 156px;
	}
	#list .dibu .limian ul li{
		width: 420px;
		height: 79px;
		/*border-bottom: 1px dotted #666;*/
		position: relative;
		}
	#list .dibu .zhongjian span{
		display: block;
		width: 280px;
		height: 15px;
		float: left;
		position: absolute;
		left: 76px;
		top: 0px;
	}
	#list .dibu .zhongjian img{
		width: 70px;
		height: 60px;
		position: absolute;
		left: 1px;
		top: 5px;
	}
	#list .dibu .zhongjian span a {
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #005ea7;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
	}
	#list .dibu .zhongjian span a:hover{
		text-decoration: underline;
	}
	#list .dibu .zhongjian a.w{
	display: block;
	font-family: Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #999;
	line-height: 18px;
	width: 281px;
	height: 36px;
	overflow: hidden;
	position: absolute;
	text-decoration: none;
	left: 76px;
	top: 22px;
	}
	#list .dibu .zhongjian a.w:hover{
		text-decoration: underline;
	}
	#list .dibu .zhongjian .beij{
		width: 30px;
		height: 25px;
		background: url(../images/20130330B_1.png) no-repeat 0px -80px;
		position: absolute;
		left: 360px;
		top: 30px;
	}
/*晒单结束*/
#list .zuiyou{
	width: 310px;
	height: 190px;
/*	border: 1px solid red;*/
	position: absolute;
	left: 890px;
	top: 0px;
}
#list .zuiyou .shangmian{
	width: 308px;
	height: 29px;
/*	border: 1px solid green;*/
	

}
#list .zuiyou .shangmian span{
	float: left;
	font-weight: 700;
	font-family: 微软雅黑;
	font-size: 14px;
	color: #666;
	line-height: 29px;

}
#list .zuiyou .shangmian a{
	font-family	Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #666;
	line-height: 29px;
	text-decoration:none;
	float: right;
}
#list .zuiyou .zhongjian{
	width: 309px;
	height: 116px;
/*	border: 1px solid blue;*/
}
#list .zuiyou .zhongjian img{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 210px;
	top: 40px;
}
#list .zuiyou .zhongjian ul {
	list-style: none;
}
#list .zuiyou .zhongjian ul li a{
	font-family:Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #005ea7;
	line-height: 29px;
	padding-left: 7px;
}
#list .zuiyou .xiamian{
	width: 311px;
	height: 45px;
/*	border: 1px solid green;*/
}
#list .zuiyou .xiamian span{
	font-size: 14px;
	font-weight: 700;
	color: #666666;
	line-height: 18px;
	font-family: 微软雅黑;
	float: left;
}
#list .zuiyou .xiamian input.in1{
	width: 215px;
	height: 21px;
	color: #999;
	border: 1px solid #999;

/*	background: url(../images/20130330B_1.png) no-repeat -257px -293px;*/

}
#list .zuiyou .xiamian input.in2{
	font-family: 宋体;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	line-height: 15px;
	text-align: center;
	background-color: #E4393C;
	width: 63px;
	height: 25px;
	border:0px;
}
/*晒单结束*/
/*底部地区*/
#dingbu{
	width: 1210px;
	height: 180px;
	margin: 0px auto;
	margin-top: 9px;
	border-top: 1px solid #f1f1f1;
}

#dingbu .zuoce{
	width:950px;
	height: 180px;
	float: left; 
	position: relative;
	margin-top: 15px;
}
#dingbu .zuoce ul{
	list-style: none;
	width: 110px;
	height: 180px;
	float: left;
	padding-left: 75px;
	padding-right: 0px;
	position: relative;

}
#dingbu .zuoce ul li{
	float: right;
	width: 100px;
}
#dingbu .zuoce ul li a.t1{
	font-weight: 700;
	font-size: 14px;
	color: #666;
	font-family: 微软雅黑;
	line-height: 19px;
}
#dingbu .zuoce ul li a{
	font-family	Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #666;
	text-decoration: none;
	line-height: 20px;
}
#dingbu .zuoce ul.z1{
	padding-left: 40px;
}
/*#dingbu .zuoce ul.z2{
	padding-right:0px; 
}*/
#dingbu .zuoce ul span{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0px;
	top: 0px;
}
#dingbu .zuoce .z1 span {
	background:url(../images/bg.png) no-repeat 0px -55px;
	position: absolute;
	left: 0px;
	top: 0px;
}
#dingbu .zuoce .z3 span{
	background:url(../images/bg.png) no-repeat -50px -55px;
	position: absolute;
	left: 35px;
	top: 0px;
}
#dingbu .zuoce .z4 span{
	background:url(../images/bg.png) no-repeat 0px -102px;
	position: absolute;
	left: 35px;
	top: 0px;
}
#dingbu .zuoce .z5 span{
	background:url(../images/bg.png) no-repeat -50px -102px;
	position: absolute;
	left: 35px;
	top: 0px;
}
#dingbu .zuoce .z2 span{
	background:url(../images/bg.png) no-repeat 0px -149px;
	position: absolute;
	left: 35px;
	top: 0px;
}
#dingbu .youce{
	width: 240px;
	height: 180px;
	float: left;
	background: url(../images/20130330B_1.png) no-repeat 0px -131px;
	margin-top: 15px;
}
#dingbu .youce h4{
	font-family: 微软雅黑;
	font-size: 14px;
	color: #666;
	line-height: 18px;
	font-weight: 700;
}
#dingbu .youce span{
	display: block;
	width: 203px;
	height: 66px;
	font-family:Arial,​Verdana,宋体;
	font-size: 12px;
	color: #666;
	line-height: 22px;
	padding-top: 10px;
}
#dingbu .youce a{
	float: right;
	padding-top: 25px;
	font-family:Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #005ea7;
	text-decoration: none;
	line-height: 22px;
}
#dingbu .youce a:hover{
	text-decoration: underline;
}
#foot{
	width: 1210px;
	height: 202px;
	margin: 0px auto;
	border-top: 1px solid #f1f1f1;
	margin-top: 8px;
}
#foot .daohang{
	width: 785px;
	height: 35px;
	margin: 0px auto;
	margin-top: 20px;
}
#foot .daohang a{
	font-family:Arial,​Verdana,​宋体;
	font-size: 12px;
	color: #666;
	text-decoration: none;
	line-height: 18px;
	padding-right: 5px;
}
#foot .daohang a:hover{
	color: #E4393C;
	text-decoration: underline;
}
#foot p{
	width: 695px;
	height: 70px;
	font-family:Arial,​Verdana,​宋体;
	font-size: 12px;
	line-height: 18px;
	color: #666;
	margin: 0px auto;
	text-align: center;
}
#foot p a{
	color: #666;
	text-decoration: none;
}
#foot p a:hover{
	text-decoration: underline;
	color: #e4393c;
}
#foot .picture{
	width: 484px;
	height: 45px;
	margin: 0px auto;
	margin-top: 12px;
}
#foot .picture img{
	float: left;
	padding-right: 12px;
}
/*底部地区*/
